<div class="relative inline-block" (clickOutside)="close()">
  <button
    class="inline-flex items-center text-white cursor-pointer"
    type="button"
    (click)="toggleDropdown()"
  >
    <img class="w-5 h-auto" [src]="selectedLanguage.src" [alt]="selectedLanguage.label"/>
    <span class="w-5 h-auto ml-2 mr-1" >{{ selectedLanguage.code.toUpperCase() }}</span>

    <svg class="h-6 w-auto text-white" [class.rotate-180]="isDropdownOpen()" viewBox="0 0 20 20" fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M5.23 7.21a.75.75 0 011.06.02L10 10.939l3.71-3.71a.75.75 0 111.06 1.061l-4.24 4.24a.75.75 0 01-1.06 0L5.25 8.27a.75.75 0 01-.02-1.06z"
        clip-rule="evenodd"
      />
    </svg>
  </button>

  @if (isDropdownOpen()) {
    <div class="absolute top-8 w-full left-0 grid gap-2">
      @for (item of availableLanguages; track item.code) {
        @if (item.code != selectedLanguage.code) {
          <a class="inline-flex items-center text-white cursor-pointer" href="#" (click)="selectLanguage(item)">
              <img class="w-5 h-auto mr-2" [src]="item.src" [alt]="item.label"/>
              <span>{{ item.code.toUpperCase() }}</span>
          </a>
        }
      }
    </div>
  }
</div>