<ng-template #menu>
  @for (item of availableLanguages; track item.label) {
    @if (item !== selectedLanguage()) {
      <button
        (click)="selectLanguage(item)"
        (keyup.enter)="selectLanguage(item)"
        role="button"
        tabindex="0"
        class="w-full btn btn-secondary"
      >
        <img class="w-5 h-auto" [src]="item.src" [alt]="item.label" />
        <span>{{ item.label }}</span>
      </button>
    }
  }
</ng-template>

<ng-template #trigger>
  <img
    class="w-5 h-auto"
    [src]="selectedLanguage().src"
    [alt]="selectedLanguage().label"
  />
  <span class="ml-2 mr-1">{{ selectedLanguage().code.toUpperCase() }}</span>
</ng-template>

<app-dropdown [trigger]="trigger" [menu]="menu" />
