<nav
  [ngClass]="
    isTransparent()
      ? 'bg-transparent text-white'
      : 'bg-white text-black shadow-md'
  "
  class="fixed z-50 top-0 left-0 right-0 font-medium text-lg flex justify-between items-center py-3 px-6"
>
  <div class="flex space-x-6 items-center relative">
    <a [routerLink]="['/', selectedLanguage().code]">
      <img
        class="w-auto h-7"
        src="images/icons/logo.png"
        [alt]="'navbar.name' | translate"
      />
    </a>

    <app-portfolio-dropdown />

    <a href="#">{{ "navbar.pricing" | translate }}</a>
    <a href="#">{{ "navbar.contacts" | translate }}</a>
  </div>

  <app-language-dropdown />
</nav>
