<ng-template #menu>
  @for (room of roomOptions; track room.code) {
    <a
      [routerLink]="['/', selectedLanguage().code, 'portfolio']"
      [queryParams]="{ room: room.code }"
      class="whitespace-nowrap block px-4 py-2 hover:bg-black hover:text-white"
    >
      {{ room | translated: "title" }}
    </a>
  }
</ng-template>

<ng-template #trigger>
  <a
    [routerLink]="['/', selectedLanguage().code, 'portfolio']"
    class="flex items-center gap-1"
  >
    {{ "navbar.portfolio" | translate }}
  </a>
</ng-template>

<app-dropdown [trigger]="trigger" [menu]="menu" />
