<main class="h-[100dvh] snap-y snap-mandatory overflow-y-scroll">
  @for (row of projects(); track $index; let i = $index) {
    <section
      class="snap-start h-[100dvh] w-full flex flex-col flex-row overflow-hidden"
      [ngClass]="{ 'flex-row-reverse': $index % 2 === 1 }"
    >
      <div class="flex-1 flex flex-col justify-center px-6 py-8 bg-white z-10">
        <h3 class="text-2xl font-bold mb-4">
          {{ row | translated: "title" }}
        </h3>
        <p class="text-sm mb-4">
          {{ row["description"] || "TBA" }}
        </p>
        <p class="text-xs mb-2">
          <span class="font-semibold">Date:</span> {{ row["date"] || "TBA" }}
        </p>
        <p class="text-xs mb-2">
          <span class="font-semibold">Price:</span> {{ row["price"] || "TBA" }}
        </p>
        <p class="text-xs">
          <span class="font-semibold">Location:</span>
          {{ row["location"] || "TBA" }}
        </p>
      </div>

      <div class="flex-3 relative overflow-hidden group">
        @for (img of row.images; track $index; let j = $index) {
          <img
            [src]="img.paths.large"
            [alt]="row['title']"
            class="absolute inset-0 w-full h-full object-cover transition-opacity duration-700"
            [class.opacity-100]="currentIndexes[i] === j"
            [class.opacity-0]="currentIndexes[i] !== j"
          />
        }

        <div
          class="opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          <div
            class="absolute inset-0 flex flex-row justify-between pointer-events-none"
          >
            <div
              class="h-full w-1/6 bg-gradient-to-r from-black/50 to-transparent"
            ></div>
            <div
              class="h-full w-1/6 bg-gradient-to-l from-black/50 to-transparent"
            ></div>
          </div>
          <button
            (click)="goToPrevious(i)"
            class="absolute left-4 top-1/2 -translate-y-1/2 text-white"
          >
            <app-arrow-icon class="w-6 h-auto rotate-90" />
          </button>

          <button
            (click)="goToNext(i)"
            class="absolute right-4 top-1/2 -translate-y-1/2 text-white"
          >
            <app-arrow-icon class="w-6 h-auto -rotate-90" />
          </button>

          <div class="absolute right-4 top-4 text-white text-lg">
            {{ currentIndexes[i] + 1 }}/{{ row.images.length }}
          </div>
        </div>
      </div>
    </section>
  }
</main>
