@layer components {
  .btn {
    @apply flex items-center justify-center leading-none gap-1 px-5 py-3 md:px-4 md:py-3;
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary;
  }

  .btn-primary {
    @apply text-lg font-medium text-secondary bg-primary hover:bg-primary-hover;
  }

  .btn-secondary {
    @apply text-lg font-medium bg-secondary hover:bg-secondary-hover;
  }

  .link {
    @apply flex items-center leading-none gap-1 hover:underline cursor-pointer;
  }

  .link-active {
    @apply font-bold;
  }

  input,
  textarea {
    @apply bg-bg text-text placeholder:text-text-muted p-2 border-2 border-primary outline-none
        focus-visible:border-primary-hover;
  }

  .card {
    @apply bg-bg-accent p-3 md:p-4 rounded-xl shadow-md;
  }

  .note {
    @apply text-xs md:text-sm text-text-muted;
  }

  .popup {
    @apply absolute w-auto max-w-[90dvw] shadow-lg shadow-primary sm:max-w-lg md:max-w-2xl lg:max-w-3xl h-auto max-h-[90dvh] bg-bg p-4 sm:p-6 md:p-8;
  }

  .load-placeholder {
    background: linear-gradient(
      180deg,
      var(--color-bg-accent) 45%,
      var(--color-bg-muted) 50%,
      var(--color-bg-accent) 55%
    );
    background-size: 100% 200%;
    animation: shimmer 3s infinite linear;
  }

  @keyframes shimmer {
    0% {
      background-position: 0 -100%;
    }
    100% {
      background-position: 0 100%;
    }
  }
}
