<div class="group relative size-full overflow-hidden">
  @for (img of images(); track $index) {
    <app-responsive-image
      class="absolute inset-0 size-full"
      imgClass="size-full object-cover"
      [class.opacity-100]="$index === currentIndex()"
      [class.opacity-0]="$index !== currentIndex()"
      [image]="img"
      [alt]="alt()"
      [loading]="$first ? 'eager' : 'lazy'"
    />
  }

  <div
    class="md:opacity-0 md:group-hover:opacity-100 transition-opacity duration-300"
  >
    <app-contrast-gradient to="right" percentageSize="15" />
    <app-contrast-gradient to="left" percentageSize="15" />

    @if (images().length > 1) {
      <div
        class="absolute inset-0 flex flex-row justify-between pointer-events-none"
      >
        <button
          (click)="goToPrevious()"
          class="h-full w-1/15 text-secondary cursor-pointer flex items-center justify-center pointer-events-auto"
        >
          <app-arrow-icon class="w-8 sm:w-6 h-auto rotate-90" />
        </button>
        <button
          (click)="goToNext()"
          class="h-full w-1/15 text-secondary cursor-pointer flex items-center justify-center pointer-events-auto"
        >
          <app-arrow-icon class="w-8 sm:w-6 h-auto -rotate-90" />
        </button>
      </div>
    }

    <div
      class="absolute right-4 top-4 text-secondary text-sm sm:text-base md:text-lg lg:text-xl"
    >
      {{ currentIndex() + 1 }}/{{ images().length }}
    </div>
  </div>
</div>
