@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --navbar-h: 0px;
  --h-available: calc(1dvh * 100 - var(--navbar-h));
}

.h-available {
  height: var(--h-available);
}

.max-h-available {
  max-height: var(--h-available);
}

.btn {
  @apply flex items-center leading-none gap-1 px-5 py-3 md:px-4 md:py-3 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-black;
}

.btn-primary {
  @apply text-lg font-medium text-white bg-black hover:bg-stone-900;
}

.btn-secondary {
  @apply text-lg font-medium text-black bg-white hover:bg-stone-200;
}

.link {
  @apply flex items-center leading-none gap-1 hover:underline text-black cursor-pointer;
}

.link-active {
  @apply font-bold;
}

.input {
  @apply text-black placeholder:text-stone-400 p-2 border-2 border-stone-600 outline-none focus-visible:border-black;
}

.card {
  @apply bg-zinc-200 p-3 md:p-4 rounded-xl shadow-md;
}

.note {
  @apply text-xs md:text-sm text-zinc-600;
}
